body{
    text-align: center;
    cursor: url("./arturo.png"),progress; 

  }
  
  
  @keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  .background-container{
      position: fixed;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
  }
  
  .clouds{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
  
     -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
  }
  img{
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
  }
  
  
  
.canvas{
    position: relative;
    cursor: url("./arturo.png"),progress; 
}
.canvasJugar{
    position: relative;
    border: solid 2px red;
    cursor: auto; 
}
  
.calavera{
      width: 9%;
      height: 125px;
      margin-right: 89.5%;
      }
h1{
    font-size: 50px;
    position:absolute;
    color: white;
    margin-left: 97px;
      }

@keyframes DarkVader{
    0%{
        margin-right: 50%;
        margin-top: 200px;
        width: 0%;
        height: 0;
    }
    10%{
        width: 60%;
        margin-right: 20%;
        height: 600px;
        margin-top: 36px;
        position:absolute;
    }
    95%{
        width: 60%;
        margin-right: 20%;
        height: 600px;
        margin-top: 36px;
        position:absolute;
    }
    100%{
        width: 60%;
        margin-right: 40%;
        height: 600px;
        margin-top: 35px;
        position:absolute;
    }
}

.perdiste{
    width: 60%;
    margin-right: 40%;
    height: 600px;
    margin-top: 35px;
    position:absolute;
    animation: DarkVader 3s 1;
}

.Score{
    font-size: 70px;
    margin-left: 50%;
    position: absolute;
}
.divJugarDenuevo{
    position: absolute;
    margin-left: 57%;
    margin-top: 250px;
    cursor: url("./arturo.png"),progress; 
}
.btnGameOver{
    font-size: 40px;
    background-color: rgb(20, 20, 20,.5);
    padding: 20px;
    color:rgb(177, 173, 169)
}
.btnGameOver:hover{
    padding: 24px;
    cursor: url("./arturo.png"),progress; 

}
.divIraMenu{
    position: absolute;
    margin-left: 57.5%;
    margin-top: 400px;
}
.Teclado {
    margin-right: 60%;
    width:26%;
    height: 400px;
    margin-top: 200px;
}
.Teclado:hover{
    width:27%;
    height: 420px;
    cursor: url("./arturo.png"),progress; 
}
.Mouse{
    margin-top: 240px;
    margin-right: 160px;
    width: 33%;
    height:260px;
}
.Mouse:hover{
    width:34%;
    height: 270px;
    cursor: url("./arturo.png"),progress; 
}
h2{
    margin-left: 450px;
    margin-top: 70px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
}

.Instrucciones{
    margin-right: 10%;
    margin-top: 30px;
    width: 80%;
    height: 500px;
}